# Browsers that we support
# This reduces JavaScript polyfills for modern browsers

[production]
>0.2%
not dead
not op_mini all
Chrome >= 92
Firefox >= 90
Safari >= 14
Edge >= 92

[development]
last 1 chrome version
last 1 firefox version
last 1 safari version
